<main class="main">

  <div class="hello-world">
    <img class="morning" src="assets/images/morning-blue.svg" alt="Good Morning" />
    <h3>Тут же должен быть красивый вывод информации(приветствие, цитата, советы и т.д)</h3>
  </div>
  <div class="window">
    <div class="buttons">
      <button class="blob-btn">
        Начнем Зарядку!
        <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
      </button>
    </div>

  </div>

</main>
