<div class="font-bold rounded max-w-4xl mx-auto px-4 text-center">
  <section class="my-4">
    <h2>Цитата!</h2>
  </section>

  <h2>
    Здравствуй, дорогой пользователь! Этот сайт служит для того, чтобы ты мог понять всю важность того, как же важно
    поддерживать свое тело в здоровом состоянии.
    Мы Хотим поделиться с тобой несколькими советами, которые могли бы помочь с этим. Все что мы предлагаем - это
    делать зарядку по утрам. Да, мы поможем тебе составить план зарядки на каждое утро!
    Если тебе стало интересно, то просто нажми на кнопку ниже.
  </h2>

  <section class="my-4">
    <button class="border rounded px-4 py-2 bg-gray-800 grey-text" type="button" (click)="openAuth(); testClick()">Начать!</button>
  </section>

  <div class="border rounded flex justify-between px-4 py-5 my-4 grey-background grey-text">
    <div class="text-center border rounded px-4 py-28 flex-1 green-background">
      <p>Отсутствие рекламы и бесплатное использование всего функционала</p>
    </div>
    <div class="text-center border rounded px-4 py-28 flex-1 green-background">
      <p>Набор упражнений, составленный специалистами</p>
    </div>
    <div class="text-center border rounded px-4 py-28 flex-1 green-background">
      <p>Придумаем</p>
    </div>
  </div>
</div>

<!--<app-auth *ngIf="isOpen() | async"></app-auth>-->


