<div class="main-container">
  <div class="first-information-block">
    <h1 class="title">Волк тот, кто волк!</h1>
    <h2 class="description">
      Здравствуй, дорогой пользователь! Этот сайт служит для того, чтобы ты мог понять всю важность того, как же важно
      поддерживать свое тело в здоровом состоянии.
      Мы Хотим поделиться с тобой несколькими советами, которые могли бы помочь с этим. Все что мы предлагаем - это
      делать зарядку по утрам. Да, мы поможем тебе составить план зарядки на каждое утро!
      Если тебе стало интересно, то просто нажми на кнопку ниже.
    </h2>
    <button class="start-button" type="button" (click)="openAuth(); testClick()">
      Начать!
    </button>
  </div>

  <h1 class="title">Почему наш сайт?</h1>
  <div class="container-description">
    <div class="description-in-container">
      <p>Отсутствие рекламы и бесплатное использование всего функционала</p>
    </div>
    <div class="description-in-container">
      <p>Набор упражнений, составленный специалистами</p>
    </div>
    <div class="description-in-container">
      <p>Придумаем</p>
    </div>
  </div>
</div>


