*{
   margin: 0; /*Удаляем отступы со всей страниц */
   padding: 0;
   box-sizing: border-box;

}

@font-face {
  font-family: "GoodDog";
  src: url("gooddog.ttf");
}

body {

  width: 100%;
  min-height: 100vh;



}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  rgba(6,56,82,1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  height: 7%; /* Выберите высоту по вашему усмотрению */

  .logo {
    display: flex;
    justify-content: left;
    margin-top: 1%;
    margin-left: 1.6%;
    width: 25%;
    order: 1;
    img {
      color: #ffffff;
      height: 50px;
    }
  }

  .title {
    font-family: "GoodDog";
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    order: 2;
    width: 50%;
  }

  .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
    width: 25%;
    order: 3;

    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      font-family: "GoodDog", serif;
      margin-top: 3%;
      color: #ffffff;
      height:50% ;
      width: 25%;
      background-color: rgba(6,56,82,1);
      border: 2px solid #85db18;
      border-radius: 20px;
      img{
        display: block;
        height: 80%;
        padding: 1%;
        width: 80%;
      }
    }
  }


}
.midle{
  display: flex;
  height: 88vh;
  justify-content: space-between;
  .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4%;
    /* Через @media изменить процент если ширина для телефефона */

    .mainsidebar{
      display: flex;
    flex-direction: column;
    justify-content: space-around;
      margin-top: 100%;
      width: 100%;
      background-color: rgba(6,56,82,1);
      height: 40%;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      img{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 8px;
        margin-top: 13px;
        margin-bottom: 10px;

      }
    }
    .usersidebar{
      display: flex;
    flex-direction: column;
    justify-content: space-around;
      margin-bottom: 10%;
      width: 100%;
      background-color: rgba(6,56,82,1);
      height: 20%;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      img{
        display: block;
        width: 40px;
        height: 60%;
        border-radius: 50%;
        margin-left: 8px;
        margin-top: 13px;
        margin-bottom: 10px;


      }
      .avatar{
        border: 2px solid #85db18;
        width: 38px;
        height: 38px;
      }
      .settings{
        fill: #85db18;
      }
    }



  }

  .main{
    width: 92%;
    display: flex;
    flex-direction: column;
    .hello-world{
      display: flex;
      position: relative;
      margin-top: 1.5%;
      background-color: rgba(6,56,82,1);
      border-radius: 25px;
      width: 94%;
      height: 15%;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      .morning{
        position: absolute;
        left: 1%;
        height: 80%;

      }
    }

    .window{
      display: flex;
      margin-top: 1.5%;
      background-color: rgba(6,56,82,1);
      border-radius: 25px;
      width: 94%;
      height: 85%;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
  }
}



  /*
  Отступы с css:
  есть margin - это отступ от объекта до чего либо (т.е отступ извне)
  есть padding - это отсуп от объекта до границ блока(т.е отступ изнутри)
  */

  /*
  Допустим у нас есть <div> с классов Container. В css есть такое ключевая характеристика как display. Она задает тип блока:
  - inline(строчный) за размер блока овечает контент внутри. Он его как бы обтекает. Характеристики высоты и ширины не работают
  - block(блочный) занимает все расстояние в строчку
  - inline-block что-то между скорее является inline, но к нему применимы характеристики высоты и ширины
  - flex(по умолчанию работает как block, однако можно задать различные характеристики) flex-direction: позволяет выбирать как отображать в строчку или столбик
  justify-content: иммет различные динамические характеристики
  */


  /*Медиа запросы: повзоляют изменять настройки при различных характеристиках
  @media(max-width: 900px){

  } все те свойства, которые будут прописаны внутри скобок будут активироваться при ширине меньше 900*/
