<head>
<!--  <style>-->
<!--    body {-->
<!--      background-image: url("https://i.pinimg.com/originals/1b/83/dc/1b83dce6c2a59c92d2dfdd14df85c377.gif");-->
<!--      background-repeat: no-repeat;-->
<!--      background-size: cover;-->
<!--    }-->
<!--  </style>-->
</head>

<body class="bg-amber-100">

  <app-date></app-date>

  <div class="font-bold max-w-4xl mx-auto px-4 text-center text-yellow-600">

    <div class="text-lg md:text-xl">
      <h1>{{title}}</h1>
      <br><br><br><br>
      <h2>Не важно линяет! Важно, кто говной воняет!</h2>
    </div>
    <br><br>
    <h2 class="font-bold max-w-4xl mx-auto px-4">
      Здравствуй, дорогой пользователь! Этот сайт служит для того, чтобы ты мог понять всю важность того, как же важно
      поддерживать свое тело в здоровом состоянии.
      Мы Хотим поделиться с Тобой несколькими советами, которые могли бы помочь с этим. Все что мы предлагаем - это
      делать зарядку по утрам. Да, мы поможем вам составить план зарядки на каждое утро!
      Если вам стало интересно, то просто нажмите на кнопку ниже.
    </h2>
    <br><br><br><br><br><br>
    <button class="border py-2 px-4 rounded bg-purple-700" routerLink="/startPage">Начать!</button>
  </div>
<a routerLink="/startPage">sdgfdhfd</a>
</body>
<router-outlet></router-outlet>

