<div class="auth-container">
  <div class="auth-content">
    <div class="btn-group">
      <button class="style-btn2" [class.active]="loginIsOpen() | async" (click)="openLogin()">Вход</button>
      <button class="style-btn2" [class.active]="signUpIsOpen() | async" (click)="openSignUp()">Регистрация</button>
    </div>

    <div class="login" *ngIf="loginIsOpen() | async">
      <form [formGroup]="loginForm">
        <div class="input-group" >
          <input class="input-field" formControlName="email" placeholder="Почта"
                 [class.error]="hasErrorAndDirty('email', loginForm)">
          <div
            *ngIf="isFieldInvalid('email', loginForm); else errorPlaceholder; else errorPlaceholder">
            <small class="text-danger">*Необходимо ввести почту</small>
          </div>
          <input class="input-field" type="password" formControlName="password" placeholder="Пароль"
                 [class.error]="hasErrorAndDirty('password', loginForm)">
          <div
            *ngIf="isFieldInvalid('password', loginForm); else errorPlaceholder; else errorPlaceholder">
            <small class="text-danger">*Необходимо ввести пароль</small>
          </div>
          <ng-template #errorPlaceholder>
            <div class="error-placeholder"></div>
          </ng-template>
        </div>
        <div class="btn-group">
          <button  class="style-btn" (click)="onLoginSubmit()">Войти</button>
          <button class="style-btn" (click)="closeLogin()">Отмена</button>
        </div>
      </form>
    </div>

    <div class="sign-up" *ngIf="signUpIsOpen() | async">
      <form [formGroup]="signUpForm">
        <div class="input-group">
          <input class="input-field" type="text" placeholder="Имя пользователя" formControlName="username"
                 [class.error]="hasErrorAndDirty('username', signUpForm)">
          <div
            *ngIf="isFieldInvalid('username', signUpForm); else errorPlaceholder">
            <small class="text-danger">*Необходимо ввести буддущее имя пользователя</small>
          </div>
          <input class="input-field" type="text" placeholder="Почта" formControlName="email"
                 [class.error]="hasErrorAndDirty('email', signUpForm)">
          <div
            *ngIf="isFieldInvalid('email', signUpForm); else errorPlaceholder">
            <small class="text-danger">*Необходимо ввести будущую почту</small>
          </div>
          <input class="input-field" type="password" placeholder="Пароль" formControlName="password"
                 [class.error]="hasErrorAndDirty('password', signUpForm)">
          <div
            *ngIf="isFieldInvalid('password', signUpForm); else errorPlaceholder">
            <small class="text-danger">*Необходимо ввести ввести будущий пароль</small>
          </div>
          <ng-template #errorPlaceholder>
            <div class="error-placeholder"></div>
          </ng-template>
        </div>
        <div class="btn-group">
          <button  class="style-btn" (click)="onSingUpSubmit()">Зарегистрироваться</button>
          <button class="style-btn" (click)="closeSignUp()">Отмена</button>
        </div>
      </form>
    </div>
  </div>
</div>
