<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Это мета-тег, который указывает браузеру Internet Explorer использовать последнюю доступную версию движка рендеринга. Это помогает обеспечить правильное отображение веб-страниц в браузере Internet Explorer. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Это мета-тег, который указывает браузеру, как должна быть отображена веб-страница на мобильных устройствах. Значение "width=device-width" означает, что ширина страницы должна соответствовать ширине устройства, а "initial-scale=1.0" указывает на начальное увеличение масштаба страницы. -->
    <link rel="shortcut icon" href="attachments/images/logo.svg" />
    <!-- Добавить лого сайта -->
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/pages/buttons.css" rel="stylesheet" />
    <!--Подключение css -->

    <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" result="goo"></feColorMatrix>
          <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
        </filter>
      </defs>
    </svg> -->
    
    <title>Morning Workout</title>
  </head>
  <body style="background-color: #092a3b;">
    <header class="bar">

      <div class="title">
        <span>Get Energized for the Day</span>
      </div>

      <div class="logo">
        <img src="attachments/images/1.1.png" alt="Лого"/>
      </div>

      <div class="right">
        <button class="button">
        <img src="attachments/images/rates.svg" alt="Rates">
        </button>
        <button class="button">
          <img src="attachments/images/contact.svg" alt="Contact">
        </button>
        <button class="button">
          <img src="attachments/images/tg.svg" alt="TG">
        </button>
    </div>

    </header>
   
    <div class="midle">

    <aside class="aside">
      <div class="mainsidebar">
        <img src="attachments/images/list.svg" alt="List" />
        <img src="attachments/images/statistic.svg" alt="Statistic" />
        <img src="attachments/images/cloud.svg" alt="Cloud" />
        <img src="attachments/images/plus.svg" alt="Setting" />

      </div>

      <div class="usersidebar">
        <img src="attachments/images/setting.svg" alt="Setting" />
        <img  class="avatar" src="attachments/images/avatar.png" alt="Avatar" />

      </div>

    </aside>

    <main class="main">

<div class="hello-world">
  <img  class="morning" src="attachments/images/morning-blue.svg" alt="Good Morning" />
  <h3>Тут же должен быть красивый вывод информации(приветствие, цитата, советы и т.д)</h3>
</div>
<div class="window">
  <div class="buttons">
    <button class="blob-btn">
      Начнем Зарядку!
      <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
    </button>
  </div>
  
</div>

    </main>

  </div>
  </body>
</html>
