<header class="bar">

  <div class="title">
    <span>Get Energized for the Day</span>
  </div>

  <div class="logo">
    <img src="attachments/images/1.1.png" alt="Лого"/>
  </div>

  <div class="right">
    <button class="button">
      <img src="attachments/images/rates.svg" alt="Rates">
    </button>
    <button class="button">
      <img src="attachments/images/contact.svg" alt="Contact">
    </button>
    <button class="button">
      <img src="attachments/images/tg.svg" alt="TG">
    </button>
  </div>

</header>

<div class="midle">

  <aside class="aside">
    <div class="mainsidebar">
      <img src="attachments/images/list.svg" alt="List" />
      <img src="attachments/images/statistic.svg" alt="Statistic" />
      <img src="attachments/images/cloud.svg" alt="Cloud" />
      <img src="attachments/images/plus.svg" alt="Setting" />

    </div>

    <div class="usersidebar">
      <img src="attachments/images/setting.svg" alt="Setting" />
      <img  class="avatar" src="attachments/images/avatar.png" alt="Avatar" />

    </div>

  </aside>

  <main class="main">

    <div class="hello-world">
      <img  class="morning" src="attachments/images/morning-blue.svg" alt="Good Morning" />
      <h3>Тут же должен быть красивый вывод информации(приветствие, цитата, советы и т.д)</h3>
    </div>
    <div class="window">
      <div class="buttons">
        <button class="blob-btn">
          Начнем Зарядку!
          <span class="blob-btn__inner">
        <span class="blob-btn__blobs">
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
          <span class="blob-btn__blob"></span>
        </span>
      </span>
        </button>
      </div>

    </div>

  </main>

</div>


