<div class="font-bold  rounded max-w-4xl mx-auto px-4 text-center text-green-100">

  <div class="text-lg  md:text-xl">
    <br><br><br><br>
    <h2>Не важно линяет! Важно, кто говной воняет!</h2>
  </div>
  <br><br>
  <h2 class="font-bold max-w-4xl mx-auto px-4">
    Здравствуй, дорогой пользователь! Этот сайт служит для того, чтобы ты мог понять всю важность того, как же важно
    поддерживать свое тело в здоровом состоянии.
    Мы Хотим поделиться с Тобой несколькими советами, которые могли бы помочь с этим. Все что мы предлагаем - это
    делать зарядку по утрам. Да, мы поможем вам составить план зарядки на каждое утро!
    Если вам стало интересно, то просто нажмите на кнопку ниже.
  </h2>
  <br><br><br><br>
  <a routerLink="/LogInSignUp">
    <button class="border rounded px-4 py-2 bg-gray-800q" (click)="testClick()">Начать!</button>
  </a>

  <br><br><br><br>
  <div class="border rounded flex justify-between px-4 py-5">
    <div class="text-center border rounded px-4 py-28 flex-1">
      <p>Отсутствие рекламы и бесплатное использование всего функционала</p>
    </div>
    <div class="text-center border rounded px-4 py-28 flex-1">
      <p>Набор упражнений, составленный специалистами</p>
    </div>
    <div class="text-center border rounded px-4 py-28 flex-1">
      <p>Придумаем</p>
    </div>
  </div>
  <br>

</div>


