<header class="header">
  <div class="logo">
    <img src="assets/images/1.1.png" alt="Лого"/>
  </div>

  <div class="title">
    <span>Get Energized for the Day</span>
  </div>

  <div class="user-controls">
    <button class="button">
      <img src="assets/images/rates.svg" alt="Rates">
    </button>
    <button class="button">
      <img src="assets/images/contact.svg" alt="Contact">
    </button>
    <button class="button">
      <img src="assets/images/tg.svg" alt="TG">
    </button>
  </div>

</header>
