.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:  rgba(6,56,82,1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  height: 7%; /* Выберите высоту по вашему усмотрению */
}
.logo{
  display: flex;
  justify-content: left;

  width: 25%;
  img {
    margin-left: 5%;
    margin-top: 5%;
    color: #ffffff;
    height: 40px;
  }
}
.user-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 4%;
  width: 25%;

}

.user-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "GoodDog", serif;
  margin-top: 3%;
  color: #ffffff;
  height:50% ;
  width: 25%;
  background-color: rgba(6,56,82,1);
  border: 2px solid #85db18;
  border-radius: 20px;
  img{
    display: block;
    height: 70%;
    padding: 1%;
    width: 70%;
  }
}

.title {
  font-family: "GoodDog", serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 50%;
}


