.header {
  position: sticky;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*padding: 40px 20px;*/
  background-color: rgba(6, 56, 82, 1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  height: 7%;
  color: #FFFFFF;
}

.user-controls {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
  width: 10vw; /* Занимает 10% от ширины viewport */
  height: auto; /* Сохраняет пропорции изображения */
}

.user-controls button {
  padding: 5px 10px;
  margin: 10px;
  background-color: #45a049;
  cursor: pointer;
  font-size: 22px;
  font-family: "GoodDog";
  color: #ffffff;
  height:50% ;
  width: 25%;
  background-color: rgba(6,56,82,1);
  border: 2px solid #85db18;
  border-radius: 20px;
}

.title {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  width: 10vw; /* Занимает 10% от ширины viewport */
  height: auto; /* Сохраняет пропорции изображения */
}
